AddDefaultCharset UTF-8
DefaultLanguage de-DE
FileETag None
Options -Indexes
DirectoryIndex index.html

# Deny access to hidden files
<Files .*>
	Require all denied
</Files>

<Files *.psd>
	Require all denied
</Files>

<FilesMatch "\.(html|htm)$">
  Header set Cache-Control "max-age=600, public"
</FilesMatch>

RewriteEngine on

# Rewrite requests without extension to html
# If the request URI doesn't end on html
RewriteCond %{REQUEST_URI} !\.html$ [NC]
# If an HTML file with that name exists
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html

# Rewrite requests without extension to php
# If the request URI doesn't end on PHP
RewriteCond %{REQUEST_URI} !\.php$ [NC]
# The following rule is simpler but does not work on Windows:
# RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [END]
# "add per-dir prefix is applied" twice by Apache
# If a PHP file with that name exists
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php
